@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  text-rendering: optimizeSpeed;
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button,
input,
[tabindex] {
  border: none;
  outline: none;
}
a[href] {
  text-decoration: none;
}
.ReactCollapse--collapse {
  transition: height 500ms;
}
