.menu {
  padding: 0;
  width: 80%;
}
.top {
  width: 14%;
  display: flex;
  background-color: #f3f4f6;
  margin-right: 10px;
  border-radius: 10%;
  justify-content: center;
  align-items: center;
  font-size: small;
  height: 40px;
  cursor: pointer;
}
.logo {
  width: 26px;
}
.text {
    text-align: start;
    margin: 0;
    width: 97%;
}
